.container {
  margin-inline: auto;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}
.body {
  overflow-x: clip;
}
@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Manrope", sans-serif;
}

.slider-mask {
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
  will-change: transform;
}

@media (max-width: 768px) {
  .slider-track {
    animation-duration: 18s;
  }
}

.slide {
  display: flex;
  align-items: center;
}

.slide img {
  flex: 0 0 auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.backdrop-blur-3xl {
  --tw-backdrop-blur: blur(64px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur);
  backdrop-filter: var(--tw-backdrop-blur);
}
